body{
    background: url(https://wallpapercave.com/wp/wp4755737.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form-group label{
    color: rgb(223, 232, 240);
    font-weight: 500;
    font-style: oblique;
}

.form-group input{
    color:black;
    padding: 6px 10px;
    font-weight: 200;
    font-style: italic;
}