body
{ background: url(images/login-bg.jpg) ;
background-repeat: no-repeat;
background-size: cover;
}
.container{
    padding-top: 100px; 
}
.form-group label{
    font-weight: 500;
}
p{
    color: rgb(41, 39, 39);
}

.form-group input{
    padding: 6px 10px;
    font-weight: 200;
}

#exampleInputMobileNumber {
    display: inline;
    /* display: flex; */
    width: 44.6%;
}

.form-check label{
    color: white;
}
